hmtl, body {
    margin: 0;
}

.uk-card {
    background-color: #37474F;
    border: 1px solid lightgray;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    margin: 1rem auto;
    height: 450px;
    max-width: 942px;
    display: flex;
    flex-direction: row;
}

.movie-details,
.movie-title,
.movie-release {
    color: white;
}

.movie-details {
    margin: 2rem 1rem;
    padding: 2rem;
    height: 75%;
    width: 25rem;
    border: 1px solid whitesmoke;
}

.search-container {
    margin-left: auto; 
    padding: 1rem;
}

.movie-image__container {
   height: 450px;
   width: 300px;
   background-color: rgb(48, 53, 83);
}

.movie-image {
    height: 100%;
    width: 50rem;
    max-width: 300px;
    object-fit: cover;
}

